@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@700&family=Playfair+Display&display=swap");
.first {
  width: 100%;
  height: 661px;

  align-items: center;
  display: flex;
  flex-direction: column;
  background: #f9f9f7;
}

.second {
  width: 100%;
  height: 641px;
  flex-shrink: 0;
  border: 2px solid #fff;
}

.textSection {
  width: 545px;
  height: 176px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  margin: 74px auto;
}

.textSection h1 {
  color: #2c2f24;
  text-align: center;

  font-family: Playfair Display;
  font-size: 100px;
  font-style: normal;
  font-weight: 400;
  line-height: 96px;
}
.textSection p {
  width: 545px;
  color: #495460;
  text-align: center;

  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

/*  */

/* form */
.form {
  position: relative;
  width: 812px;
  height: 604px;
  flex-shrink: 0;
  border-radius: 16px;
  border: 1px solid #fff;
  flex-direction: column;
  gap: 24px;
  background: #fff;

  z-index: 1;
  /* 1 */
  box-shadow: 0px 2.97872px 59.57446px 0px rgba(0, 0, 0, 0.2);
}

.form .content {
  width: 717px;
  height: 412px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;

  margin: 30px auto;
  left: 0;
  right: 0;
}

.content .row {
  display: flex;
  flex-direction: row;
  gap: 16px;
  width: 717px;
  height: 92px;
}

.date,
.time {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.time button {
  display: flex;
  width: 350px;
  height: 60px;
  padding: 0px 24px;
  justify-content: space-between;
  align-items: center;

  border-radius: 72px;
  border: 1px solid var(--neutral-03, #dbdfd0);
  background: var(--neutral-01, #fff);
}
.date button {
  display: flex;
  width: 350px;
  height: 60px;
  padding: 0px 24px;
  justify-content: space-between;
  align-items: center;

  border-radius: 72px;
  border: 1px solid var(--neutral-03, #dbdfd0);
  background: var(--neutral-01, #fff);
}

.date span {
  color: var(--neutral-07, #2c2f24);
  text-align: center;

  /* Body/16px/Regular */
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.time span {
  color: var(--neutral-07, #2c2f24);
  text-align: center;

  /* Body/16px/Regular */
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.date h1 {
  color: #2c2f24;

  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  line-height: 24px;
}

.time h1 {
  color: #2c2f24;

  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  line-height: 24px;
}

/* ===== 3 row ===== */

.total button {
  margin-top: 10px;
  display: flex;
  width: 717px;
  height: 60px;
  padding: 0px 24px;
  justify-content: space-between;
  align-items: center;

  border-radius: 72px;
  border: 1px solid var(--neutral-03, #dbdfd0);
  background: var(--neutral-01, #fff);
}
.total h1 {
  color: #2c2f24;

  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  line-height: 24px;
}
.total span {
  color: var(--neutral-07, #2c2f24);
  text-align: center;

  /* Body/16px/Regular */
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

/* ======= 4 row ======== */

.bookBut button {
  cursor: pointer;
  display: inline-flex;
  padding: 20px 32px;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
  margin-bottom: 24px;
  border-radius: 118px;
  background: #ad343e;
  border: #ad343e;
  width: 717px;
}
.bookBut:hover button {
  border-radius: 118px;
  background-color: #ff666b;
  color: #837a7b;
  transform: scale(1.05);
  transition: background 0.3s ease, transform 0.3s ease;
}

.bookBut span {
  color: var(--neutral-01, #fff);
  text-align: right; /* Body/16px/Bold */
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
}

/* second */

.text {
  width: 776px;
  height: 134px;

  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 90px;
  margin: 382px auto;
}
/* infodivs */

.text .infoDiv1 {
  width: 200px;
  height: 80px;
  display: flex;
  flex-direction: column;
  margin-bottom: 55px;
  margin-right: 10px;
  gap: 24px;
}

.infoDiv1 h1 {
  color: var(--neutral-07, #2c2f24);

  /* Body/20px/Bold */
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 130% */
}

.infoDiv1 h2 {
  width: 200px;
  color: #ad343e;

  /* Headline/H3 */
  font-family: DM Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 125% */
  letter-spacing: -0.72px;
}

.text .infoDiv2 {
  width: 187px;
  height: 106px;
  display: flex;
  flex-direction: column;
  margin-bottom: 34px;
  margin-right: -6px;
  gap: 24px;
}

.infoDiv2 h1 {
  color: var(--neutral-07, #2c2f24);

  /* Body/20px/Bold */
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 130% */
}
.infoDiv2 p {
  width: 187px;
  color: var(--neutral-07, #2c2f24);

  /* Body/18px/Regular */
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
}

.text .infoDiv3 {
  width: 209px;
  height: 134px;
  display: flex;
  flex-direction: column;
  margin-bottom: 6px;

  gap: 24px;
}

.infoDiv3 h1 {
  color: var(--neutral-07, #2c2f24);

  /* Body/20px/Bold */
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 130% */
}
.infoDiv3 p {
  width: 209px;
  color: var(--neutral-07, #2c2f24);

  /* Body/18px/Regular */
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
}

.total .message {
  margin-top: 10px;
  display: flex;
  height: 156px;
  padding: 25px;
  align-items: flex-start;
  border-radius: 16px;
  border: 1px solid var(--neutral-03, #dbdfd0);
  background: var(--neutral-01, #fff);
  align-self: stretch;
}
